<manifest
    package="io.freefair.android.appcompatPreference"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.wearable"/>
    <application android:allowBackup="true">
    </application>
</manifest>

